<div id="container" class="flex h-full items-center justify-center bg-slate-100">
  <main>
    <section id="hero">
      <h1 class="text-3xl font-semibold text-cyan-950">Welcome</h1>
    </section>
  </main>
</div>
